doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content=$$('front/author/@fullname'))
    meta(name='keywords', content=$$('front/keyword/text()'))
    meta(name='description', content=$$('front/abstract/t/text()').join(' '))
    meta(name='generator', content=version)
    title= $('front/title/text()')
  body
    h1 Examples
    p This document will provide some examples
    p Running in mode:
      span= defs.mode
    - var util = require('util')
    p= util.format("one:%d", 2)
    - var test = require('./test')
    p= test.stuff()
    h2 Loop
    - each s in $$('middle/section')
      .section(id=$att(s, 'anchor'))
        h3= $('@title', s)
        - each t in $$('t', s)
          p= t.text()
        - each a in $$('artwork', s)
          pre= a.text()
    h2 all of the attributes
    p&attributes($att($('//author')))
    p&attributes($att($('//author'), {added: 'one'}))

    h2 namespaces
    p= $nsDecls($('//e:extra', {e: 'urn:example:extra'}))['xmlns']
    dl
      for m in $$('//n:more', {n: 'urn:example:extra'})
        dt= $att(m)['m:a']
        dd
          each v,n in $nsDecls(m)
            = n
            = " = "
            = v
    p= "lang: " + $att($root(), 'lang')
